#!/usr/bin/env python

import json
import os
import re
import subprocess
import sys

jeedom_root_path = '{{ jeedom__install_directory }}'
jeedom_version_file = os.path.join(jeedom_root_path, 'core/config/version')
jeedom_plugins_dir = os.path.join(jeedom_root_path, 'plugins')

content=dict()

version_re = re.compile('^(?P<version>(?P<major>[0-9]+)[0-9\.]+).*$')
try:
    # Get software version
    if not os.path.isfile(jeedom_version_file):
        content['error'] = 'File {} does not exists'.format(jeedom_version_file)
    else:
        with open(jeedom_version_file, 'r') as hdl:
          match = version_re.search(hdl.read())
          if match:
            content['version_full'] = match.group('version')
            content['version_major'] = match.group('major')
    # get plugins list
    if not os.path.isdir(jeedom_plugins_dir):
        content['error'] = 'Directory {} does not exists'.format(jeedom_plugins_dir)
    else:
        dirs = os.listdir(jeedom_plugins_dir)
        content['installed_plugins'] = dirs
except Exception as e:
    content['error'] = str(e)

if len(content) == 0:
    content = None

print(json.dumps(content))
sys.exit(0)
